name: Deploy Pipeline For webApp

on:
  push:
    branches:
      - main
    paths:
      - 'webapp/**'
      - '.github/workflows/webapp.yml'

jobs:
  terraform:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: "eu-west-1"
    
    - name: Check if webapp/ directory exists and contains files
      run: |
        if [ -d "webapp" ] && [ "$(ls -A webapp)" ]; then
          echo "webapp/ directory exists and contains files."
        else
          echo "webapp/ directory is missing or empty. Please check."
          exit 1
        fi

    - name: Deploy to AWS S3
      run: |
        echo "Uploading files to S3..."
        aws s3 cp webapp/ s3://lecloudfacile-rockkoue-site/ --recursive --region eu-west-1
